
body{
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
}

/* UTILS */
.bg-word{
    background-color: #ffd6df;
    border-radius: 20px;
    max-height: 220px;
}

.profile, .education, .skill, .contact{
    background-color: #fff;
}

.content-text{
    color: #263238;
}

.skill{
    list-style: none;
}

/* NAVBAR */
.navbar-light .navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.active{
    color: #043b5c !important;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #043b5c;
}

/* BUTTON CONFIG */
.btn-blue{
    background-color: #043b5c;
}

.btn-blue:hover{
    background-color: #002a45;
}

.btn:focus{
    box-shadow: none;
}


/* FORM */
.form-control{
    background-color: rgb(240, 240, 240);
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.form-control:focus{
    border-color: #043b5c;
    box-shadow: 0 0 0px .25rem #043a5ca4;
}

/* TIMELINE */

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #043b5c;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/* AVATAR */

.stories{
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.stories svg{
    fill:none;
    stroke:#043b5c;
    stroke-linecap: round;
    stroke-width:3;
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    animation: stroke-draw 3s ease-out infinite alternate;
    animation-play-state: paused;
}


@keyframes stroke-draw {
    from{
        stroke:#8a3ab9;
        stroke-dasharray: 1;
      }
      to{
        stroke:#002a45;
        transform:rotate(180deg);
        stroke-dasharray: 8;
      }
  }
  

.stories img{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    width:70px;
    height: 70px;
    border-radius:50%;
}



/* @media screen and (max-width : 768px) {
    .bg-word{
        max-height: 200px;
    }
} */